<div class="container">
  <form class="needs-validation" [formGroup]="angForm" (ngSubmit)="onClickSubmit(angForm.value)">

    <div class="row row-cols-2 justify-content-center">

      <div class="col-12 mt-4 mb-3">
        <h1 class="text-center">
          Laboratorio 14
        </h1>
      </div>

      <div class="col mb-3">

        <!-- Nombre -->
        <label for="name" class="form-label">Nombre</label>
        <div class="input-group">
          <input #name type="text" formControlName="name" class="form-control">
        </div>
        <p class="error-validation" *ngIf="angForm.get('name')?.hasError('required')">
          Este campo es obligatorio
        </p>

      </div>
      <div class="col mb-3">

        <!-- Apellido -->
        <label for="lastName" class="form-label">Apellido</label>
        <div class="input-group">
          <input #lastName type="text" class="form-control" formControlName="lastName">
        </div>
        <p class="error-validation" *ngIf="angForm.get('lastName')?.hasError('required')">
          Este campo es obligatorio
        </p>


      </div>

      <div class="col mb-3">

        <!-- Fecha de nacimiento -->
        <label for="birthdate" class="form-label">Fecha de nacimiento</label>
        <div class="input-group">
          <input #birthdate type="date" class="form-control" formControlName="birthdate">
        </div>
        <p class="error-validation" *ngIf="angForm.get('birthdate')?.hasError('required')">
          Este campo es obligatorio
        </p>

      </div>

      <div class="col mb-3">

        <!-- Email -->
        <label for="email" class="form-label">Email</label>
        <div class="input-group">
          <input #email type="email" class="form-control" formControlName="email">
        </div>
        <p class="error-validation" *ngIf="angForm.get('email')?.hasError('required')">
          Este campo es obligatorio
        </p>
        <p class="error-validation" *ngIf="angForm.get('email')?.hasError('email')">
          Correo electronico no valido
        </p>

      </div>

      <div class="col mb-3">

        <!-- Contraseña -->
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group">
          <input #password type="password" class="form-control" formControlName="password">
        </div>
        <p class="error-validation" *ngIf="angForm.get('password')?.hasError('required')">
          Este campo es obligatorio
        </p>
        <p class="error-validation" *ngIf="angForm.get('password')?.hasError('minlength')">
          La contraseña debe de ser de 8 caracteres
        </p>
        <p class="error-validation" *ngIf="angForm.hasError('mismatch', 'passwordRepeat')">
          La contraseña no coincide
        </p>

      </div>

      <div class="col mb-3">

        <!-- Repetir Contraseña -->
        <label for="passwordRepeat" class="form-label">Repetir Contraseña</label>
        <div class="input-group">
          <input #passwordRepeat type="password" class="form-control" formControlName="passwordRepeat">
        </div>
        <p class="error-validation" *ngIf="angForm.get('passwordRepeat')?.hasError('required')">
          Este campo es obligatorio
        </p>
        <p class="error-validation" *ngIf="angForm.get('passwordRepeat')?.hasError('minlength')">
          La contraseña debe de ser de 8 caracteres
        </p>
        <p class="error-validation" *ngIf="angForm.get('passwordRepeat')?.hasError('mismatch')">
          La contraseña no coincide
        </p>

      </div>

      <input type="submit"
        class="form-control col-5"
        class="btn btn-success"
        value="submit"
        [disabled]="angForm.invalid"
        >

    </div>

  </form>

</div>

